{
    "version": "2017-02-28",
    "operation": "PutItem",
    "key": {
        "UserId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
    },
    "attributeValues": {
        "firstName": $util.dynamodb.toDynamoDBJson($ctx.args.firstName),
        "lastName": $util.dynamodb.toDynamoDBJson($ctx.args.lastName),
        "likesMe": $util.dynamodb.toDynamoDBJson($ctx.args.likesMe)
    }
}
